{{ if .Site.Params.projects.enable | default false }}
<section id="projects" class="py-5">
    <div class="container">
        <h3 class="text-center">{{ .Site.Params.projects.title | default "Projects" }}</h3>
        <div class="row justify-content-center">
            {{ range .Site.Params.projects.items }}
            <div class="col-lg-6 my-4">
                <a class="card research-interest-card h-100 d-flex flex-column text-decoration-none"
                   href="{{ .featured.link }}"
                   title="{{ .title }}">
                    <div class="card-img-overlay-container">
                        <img class="card-img-top" src="{{ .image }}" alt="{{ .title }}">
                        <div class="card-img-overlay">
                            <h5 class="card-title text-white mb-3">{{ .title }}</h5>
                            {{ with .content }}
                            <p class="card-text text-white">{{ . }}</p>
                            {{ end }}
                        </div>
                    </div>
                </a>
            </div>
            {{ end }}
            {{ range ( where .Site.RegularPages "Type" "projects" ) }}
            {{ if .Params.showInHome | default true }}
            <div class="col-lg-6 col-12 my-4">
                <a class="card research-interest-card text-decoration-none"
                   href="{{ .RelPermalink }}"
                   title="{{ .Title }}">
                    <div class="card-img-overlay-container">
                        <img class="card-img-top" src="{{ .Params.image }}" alt="{{ .Title }}">
                        <div class="card-img-overlay">
                            <h5 class="card-title text-white mb-3">{{ .Title | truncate 50 }}</h5>
                            <p class="card-text text-white">{{ .Summary | truncate 200 | safeHTML }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
